@import "tailwindcss";

@theme{
  --color-dark-purple: #272033;
  --color-light: #FDFDF5;
  --color-hover-card: #3B2F45;
}

@layer components{
  .card-hover{
    @apply transition-all duration-500 ease-in-out hover:bg-hover-card;
  }
  /* .responsive-phone{
    @apply 
  } */
}
*{
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0 auto;
  line-height: inherit;
  /* display: flex; */
  /* text-align: center; */
  /* place-items: center; */
  /* max-width: 1080px; */
  background-color: var(--color-dark-purple);
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popup {
  animation: popup 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}