---
import Header from '../sections/Header'
import MainContent from '../organisms/MainContent'
import Footer from '../sections/Footer'
---
<header>
  <Header />
</header>
<main>
  <MainContent client:load />
</main>
<footer>
  <Footer />
</footer>

