---
import GalleryContent from "@/organisms/GalleryContent"
import "../styles/index.css"
import Layout from "../layouts/Layout.astro"
import Header from "../sections/Header"
import Footer from "../sections/Footer"
---
<Layout>
  <head>
    <Header />
  </head>
  <body>
    <GalleryContent client:load />
  </body>
   <footer>
    <Footer />
   </footer>
</Layout>
