---
// import GalleryPage from "../comps/GalleryPage.astro"
import "../styles/index.css"
import Layout from "../layouts/Layout.astro"
import Header from "../sections/Header"
import Footer from "../sections/Footer"
---
<Layout>
  <head>
    <Header />
  </head>
  <body>
    <h1>This Page is Still Under Maintenance☹️</h1>
  </body>
  <!-- <GalleryPage client:load /> -->
   <footer>
    <Footer />
   </footer>
</Layout>
<style>
  h1{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>