---
import Header from "../sections/Header";
import GalleryContent from "../organisms/GalleryContent";
import Footer from "../sections/Footer";
---
<header>
  <Header />
</header>
<main>
  <GalleryContent client:load />
</main>
<footer>
  <Footer />
</footer>