---
import Header from "src/sections/Header";
import GalleryContent from  "src/organisms/GalleryContent"
import Footer from "src/sections/Footer";
---
<header>
  <Header />
</header>
<main>
  <GalleryContent client:load />
</main>
<footer>
  <Footer />
</footer>