---
import Header from '../sections/Header.tsx'
import MainContent from '../organisms/MainContent.tsx'
import Footer from '../sections/Footer.tsx'
---
<header>
  <Header />
</header>
<main>
  <MainContent client:load />
</main>
<footer>
  <Footer />
</footer>

